body, button {
    font-family:'Ninja Naruto';
    background: white;
}

table
{
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

td{
    text-align: center;
}

.titleContainer{
    overflow: hidden;
    height: 100px;
    width : 100%;
    margin-top: 2%;
    text-align: center;
    display: table;
    span {
        display: table-cell;
        vertical-align: middle;
    }
    p{
        color: white;
    }
}

h1 {
    font-size: 30px;
    letter-spacing: 3px;
    color: #000;
}

h5 {
    font-size: 10px;
    letter-spacing: 1px;
    color: #000;
}

.imgContainer{
    width: 25%;
    text-align: center;
    display: inline-block;
    align: center;
}

.resultContainer{
    text-align: center;
    align: center;
    display: inline-block;
}

.inputfile {
    font-weight: 15px;
    color: white;
    background-color: #ccc;
}

#inimg, #plot {
    margin: auto;
}

#plot{
    font-size: 10px;
}

.plotly
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.imgBorder{
    padding: 25px;
    border : 4px dashed red;
    min-height: 200px;
    width: 240px;
    display: inline-block;
}

.predictBtn{
    font-weight: 25px;
    color: black;
    width: 120px;
    height: 25px;
    display: inline-block;
    border: solid 0px coral;
    cursor: pointer;
    text-align: center;
}
p {
    text-align: center;
    width: 100%;
    font-family: "Times New Roman", Times, serif;
    font-size: 12px;
}

img{
    padding: 0px 50px 0px 50px;
}